body{
  margin: 0px;
  background-color: #ebe9e9
}


a.navbar-brand.navbar-link{
  margin-top:7px;
}

ul.nav.navbar-nav.navbar-right{
  margin-top:12px;
  margin-right:18px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
  color:#363535;
  background-color:#e7e7e7;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
  color:#dad9d9;
  background-color:transparent;
}

.navbar-default .navbar-nav > li > a{
  color:#b8b6b6;
}

.navbar-brand, .navbar-nav > li > a{
  text-shadow:0 1px 0 rgba(255,255,255,.25);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a{
  background-repeat:repeat-x;
  -webkit-box-shadow:inset 0 3px 9px rgba(0,0,0,.075);
  background:rgba(255, 255, 255, 0.3);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background-color:#ddd;
  background:white;
}

button.navbar-toggle.collapsed{
  margin-top:16px;
  margin-right:52px;
}

nav.navbar.navbar-default{
  height: 100px;
  background: none;
  box-shadow: none;
  border: none;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 75px;
}

.navbar-header a.navbar-brand img{
  height: 30px;
  margin-top: -4px;
}

.navbar-nav > li > a{
  padding-top: 10px;
  padding-bottom: 10px;
}

i.glyphicon.glyphicon-search{
  font-size: 20px;
  color: rgb(184,182,182);
}

#background{
  margin-top:57px;
  background:url(../../assets/img/home.jpg) no-repeat;
  background-size:cover;
  padding-top:111px;
  height:638px;
  max-height:1112px;
}

#background .jumbotron{
  background:none;
  margin-left:137px;
  max-width:1000px;
  margin-top:100px;
}

#background .jumbotron h1{
  font-family:nexa;
  color:white;
  margin-bottom:-12px;
}

#background .jumbotron p{
  font-family:raleway;
  color:white;
  margin-bottom:-12px;
  margin-top:27px;
  padding-right:307px;
}

#home{
  text-align: center;
}

#home .container h1{
  margin:36px;
}

#home .container .row{
  margin:-3px;
}

#home .isi .container.atas{
  background-color:#f9f8f8;
  /* margin-top:-85px; */
  /* padding-bottom:37px; */
}

.glyphicon{
  position: relative;
  font-size: 42px;
  color: #27475e;
}

.container.bawah{
  text-align: center;
}

#news{
  /* margin-top: 31px; */
  background-color: #f9f8f8;
  /* padding-top: 43px; */
  padding-bottom: 25px;
}

#gallery .container h1{
  text-align: center;
  font-family: raleway;
  margin-bottom: 38px;
}

#gallery .container .row #dua.col-lg-6.col-md-6.col-sm-6.col-xs-6{
  padding-top:31px;
}

#about{
  background-color: #102128;
  margin-top: 79px;
  color: white;
}

#about .container{
  width: 100%;
  padding: 55px;
}

#about .container.footer .col-lg-6.col-md-6.col-sm-12.col-xs-12{
  font-family:petitamedium;
  color:#eee;
}

.input-group.input-group-lg{
  margin-top:23px;
}

#icon{
  color:white;
  font-size:37px;
  margin-top:20px;
  position:static;
}

#icon i.fa.fa-facebook-official{
  margin-left:17px;
}

#icon i.fa.fa-twitter-square{
  margin-left:17px;
}

#icon i.fa.fa-youtube-play{
  margin-left:17px;
}

.kaki{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  color: rgb(40,78,94);
  background-color: #0f1517;
}

#top{
  margin-top: 50px;
}
.tombol{
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;
  
}
.info-box {
  display: block;
  min-height: 90px;
  background: rgba(240, 237, 237, 0.637);
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  margin-bottom: 0px;
  border: black !important;
}
.info-box small {
  font-size: 14px;
}
.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
  border-radius: 0;
}
.info-box .progress .progress-bar {
  background: #fff;
}
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
}
.info-box-icon > img {
  max-width: 100%;
}
.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.progress-description,
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-box-text {
  text-transform: uppercase;
}
.info-box-more {
  display: block;
}
.btn-app {
  border-radius: 3px;
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  font-size: 12px;
}
.btn-app > .fa,
.btn-app > .glyphicon,
.btn-app > .ion {
  font-size: 20px;
  display: block;
}
.btn-app:hover {
  background: #f4f4f4;
  color: #444;
  border-color: #aaa;
}
.btn-app:active,
.btn-app:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-app > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}
.bg-marker{
  background-color: #eee4e4 !important;
}



